@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
  --primary: #824ff8;
  --scondary: #74d255;
  font-family: var(--font-inter), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --primary: var(--primary);
  --primary: var(--scondary);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
    --primary: #824ff8;
    --scondary: #74d255;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}