$border-color: rgb(237, 237, 237);
$background-color: #ffffff;
$primary: var(--primary);
$light: var(--light);

.dashboard-Content {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgb(252, 249, 255);
}

.dashboard-box {
  height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 7vh;
}

.dashboard-h1 {
  font-size: 25px;
  color: "#000";
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 900;
  span {
    background-image: linear-gradient(to right, #7f00ff, #e100ff, #fdbb2d);
    color: transparent;
    background-clip: text;
    font-size: 30px;
  }
}

.dashboard-siderbar {
  padding-right: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  border-right: 1px solid $border-color;
  background-color: $background-color;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
}

.dashboard-siderbar-Logo {
  width: 100%;
  height: 8vh;
  padding-bottom: 5px;
  padding-top: 10px;
  object-fit: contain;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
}

.dashboard-siderbar-Box1 {
  padding: 10px;
  flex: 1;
}

.dashboard-siderbar-Box2 {
  padding: 10px;
  border-top: 1px solid $border-color;
}

.dashboard-siderbar-Box3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #fff;
  border: 1px solid $border-color;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  .avatar {
    color: $primary;
    font-size: 30px;
  }
  .text1 {
    font-size: 14px;
    font-weight: 600;
  }
  .text2 {
    font-size: 12px;
    color: gray;
  }
}

.dashboard-siderbar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 7px;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  .text {
    color: #2a2a2a;
    font-size: 14px;
  }

  & .icon {
    color: rgb(139, 139, 139);
  }

  &:hover {
    background-color: $light;
    color: var(--primary);
  }

  &.active {
    background-color: $primary;
    color: #fff;
    & .icon {
      color: #fff;
    }
  }
}

.dashboard-PageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 12px 12px;
  height: 8vh;
  font-size: 14px;
}

.dashboard-PageHeader-box1 {
  display: flex;
  align-items: center;
  gap: 5px;
  .title {
    background-color: #fff;
    border: 1px solid $border-color;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: 400;
  }
  .title-text {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.dashboard-PageHeader-box2 {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  .total-text {
    color: grey;
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.dashboard-PageHeader-box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dashboard-Filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  ::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 768px) {
    overflow-x: visible;
  }
}

.dashboard-table-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.dashboard-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
}

.dashboard-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(195, 195, 195);
}

.dashboard-Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.dashboard-access-item {
  border: 1px solid $border-color;
  padding: 5px 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: rgb(79, 79, 79);
  font-size: 13px;
}

.dashboard-form-contentbox {
  padding-left: 20px;
  padding-top: 20px;
  @media (max-width: 767px) {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.dashboard-form-metabox {
  border-left: 1px solid $border-color;
  min-height: 84vh;
  height: 100%;
  padding: 20px 10px 10px 20px;
  @media (max-width: 767px) {
    padding: 0px;
    min-height: 100%;
    border-left: 0px;
  }
}

.dashboard-form-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  z-index: 1000;
  padding: 0px 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1);
}

.dashboard-Social-Preview {
  border: 1px solid $border-color;
  background-color: #f5f7f9;
  border-radius: 4px;
  overflow: hidden;
  .textBox {
    padding: 10px;
  }
  .text1 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .text2 {
    color: gray;
    font-size: 10px;
  }
}

.dashboard-PreviewModal {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-PreviewModal-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.248);
  padding: 10px;
  z-index: 1;
}

.dashboard-form-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.desktop-button-text {
  @media (max-width: 767px) {
    display: none;
  }
}

.adds-item {
  border: 1px solid rgb(229, 229, 229);
  background-color: #f5f7f9;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  .emptyBox {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    text-align: center;
    color: gray;
    cursor: pointer;
  }
  .adds-image {
    width: 100%;
    object-fit: contain;
  }
}
.adds-action {
  display: flex;
  width: 100%;
  gap: 10px;
  position: absolute;
  right: 10px;
  padding-left: 30px;
  .box {
    display: flex;
    background-color: #f5f7f9;
    gap: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
}

.adds-boxes {
  margin-bottom: 20px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.admin-tab-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
}
